.drawer {
  width: 360px;
}

.logo {
  margin-right: 15px;
  margin-left: 25px;
}

.select {
  width: 100%;
}

.loaderContainer {
  justify-content: center !important;
}


.main {
  display: flex;
  flex-direction: column;
}
